body {
        font-family: 'futura';
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        background-color: white;
        padding: 30px 40px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 400px;
    }

    h2 {
        text-align: center;
        color: #342f6ee6;
        margin-bottom: 20px;
    }

    label {
        color: black;
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        font-size: 14px;
    }

    input:focus {
        border-color: #342f6ee6;
    }

    button {
        width: 100%;
        background-color: #342f6ee6;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #003366;
    }

    p {
        text-align: center;
        font-size: 14px;
        color: black;
        margin-top: 10px;
    }

    p a {
        color: #342f6ee6;
        text-decoration: none;
        font-weight: bold;
    }

    p a:hover {
        text-decoration: underline;
    }

    @media (max-width: 480px) {
        .container {
            padding: 20px;
        }
    }